<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="masthead-inner">
        <h1>{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>

      <div class="toc">
        <h2>Interviews</h2>
        <li>
          <ul><a href="{{ site.baseurl }}/carlosantoniodasilva/">Carlos Antonio da Silva</a></ul>
          <ul><a href="{{ site.baseurl }}/tigrish/">Christopher Dell</a></ul>
          <ul><a href="{{ site.baseurl }}/glebm/">Gleb Mazovetskiy</a></ul>
          <ul><a href="{{ site.baseurl }}/henrik/">Henrik Nyh</a></ul>
          <ul><a class="more" href="{{ site.baseurl }}/more/">and more…</a></ul>
        </li>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
